<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="/public/index.css" />
    <script type="module" src="/public/index.js"></script>
  </head>
  <body class="w-screen h-screen bg-gradient-to-br from-[#d3cce3] to-[#e9e4f0]">
    <div
      id="content"
      class="w-full h-full flex justify-center items-center gap-12 flex-col"
    >
      <span class="text-5xl font-bold text-main">Welcome To Roux</span>
      <htmx-counter id="counter"></htmx-counter>
      {% block content %} {% endblock %}

      <div hx-boost="true">
        <a href="{{ nav_target }}">Go to {{ nav_target }}</a>
      </div>
    </div>
  </body>
</html>
